body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #1a1a1a; /* Very dark gray */
  font-family: Arial, sans-serif;
  overflow: hidden;
  position: relative;
}

.profile-box {
  width: 300px;
  padding: 20px;
  text-align: center;
  background-color: #333333; /* Solid dark gray background */
  border-radius: 10px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.8); /* Floating shadow effect */
  position: relative;
  z-index: 1; /* Ensure it's above the snowflakes */
}

.profile-box::before {
  content: "";
  position: absolute;
  top: -7px;
  left: -7px;
  bottom: -7px;
  right: -7px;
  border-radius: 17px; /* Border radius plus border width */
  background: linear-gradient( 45deg,
    #5BCEFA 0%, 
    #5BCEFA 20%, 
    #F5A9B8 20%, 
    #F5A9B8 40%, 
    #FFFFFF 40%, 
    #FFFFFF 60%, 
    #F5A9B8 60%, 
    #F5A9B8 80%, 
    #5BCEFA 80%, 
    #5BCEFA 100% );
  z-index: -1;
  padding: 7px; /* Adjusted for consistent border width */
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  color: #000000; /* White */
  margin: 0 0 10px;
}

p {
  font-size: 16px;
  color: #000000; /* Light gray */
  margin: 0 0 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icons a {
  color: inherit;
  text-decoration: none;
}

social-icons i {
  font-size: 30px;
  color: #ffffff; /* White */
}

#snowflakes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0; /* Place snowflakes behind the box */
}

.snowflake {
  position: absolute;
  top: -10px;
  background-color: white;
  border-radius: 50%;
  opacity: 0.8;
  pointer-events: none;
  animation: fall linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}
